*.o
**/build/*
**/lib/*

.gdb*
*peda*

*.cmd
*.ko
*.mod*
Module*
modules*

tags
MACHINE_CONFIG

apps/fake/fake-app
apps/rocksdb/allocator.so
apps/rocksdb/rocksdb-app
database/create_db
tests/rocksdb

apps/leveldb/allocator.so
apps/leveldb/leveldb-app
database/leveldb_createdb
database/rocksdb_createdb
kmod/test_kmod_ipi
kmod/test_kmod_uintr
tests/ipi_core
tests/signal_core
tests/default_uintr
tests/uintr_core

shim/libshim.a

deps/fake-work/test
deps/fake-work/libfakework.a
deps/fake-work/calibrate

deps/fake-work/fake_work.c.bc
deps/fake-work/fake_work.c.opt1.bc
deps/fake-work/fake_work.c.opt2.bc
deps/fake-work/fake_work_rdtsc.c.bc
deps/fake-work/fake_work_rdtsc.c.opt1.bc
deps/fake-work/fake_work_rdtsc.c.opt2.bc
deps/fake-work/libfakework_concord.a
deps/fake-work/libfakework_concord_rdtsc.a

